---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
---

<Layout title="Sjoerd Lemkens">
  <main>
    <div class="bg-slate-800">
      <div class="flex items-center justify-center h-screen">
        <!-- Text -->
        <div class="flex flex-col px-12">
          <h2 class="text-4xl text-white pb-3">Hi &#128075;</h2>
          <h1 class="text-6xl text-white pb-3">
            I'm
            <span class="text-green-500 font-medium">Sjoerd Lemkens</span>
          </h1>
          <p class="text-lg text-white">
            I like building cool stuff for mobile phones &#128241; and the web
            &#128187;
          </p>
        </div>

        <Image
          class="rounded-full object-fill"
          src={import("../assets/headshot.jpeg")}
          width={300}
          height={300}
          alt="Sjoerd Lemkens"
          format="png"
        />
      </div>
    </div>
  </main>
</Layout>
